In [1]:
import pandas as pd
import numpy as np

In [2]:
data = ('Vine.csv')
df = pd.read_csv(data)
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [35]:
# create a new DataFrame to retrieve all the rows where the total_votes count is equal to or greater than 20 
total_votes_df = df.loc[df["total_votes"] >= 20]
total_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
...,...,...,...,...,...,...
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785714,R26KS4Q9G04FIV,2,8,21,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [43]:
# Retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
helpful_votes_df = total_votes_df[(total_votes_df['helpful_votes']/total_votes_df['total_votes']) >= 0.5]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
...,...,...,...,...,...,...
1785641,RCMDCDJR16IKW,4,27,30,N,N
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [37]:
# retrieves all the rows where a review was written as part of the Vine program (paid)
paid_df = helpful_votes_df.loc[helpful_votes_df["vine"] == 'Y']
paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N
...,...,...,...,...,...,...
1456862,RLPTVGLU0JQIP,3,42,45,Y,N
1463333,R3ASJ9SENYYYI0,5,40,46,Y,N
1481162,RNU8PK609WT6P,4,347,362,Y,N
1506354,R8YT75NJW0CM9,4,37,40,Y,N
1506642,R2EDL85YVF0PRA,5,23,32,Y,N

In [38]:
#  retrieve all the rows where the review was not part of the Vine program (unpaid)
unpaid_df = helpful_votes_df.loc[helpful_votes_df["vine"] == 'N']
unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
...,...,...,...,...,...,...
1785641,RCMDCDJR16IKW,4,27,30,N,N
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [100]:
# the total number of reviews for paid
total_paid_df = paid_df.['review_id'].count()
total_paid_df

94

In [101]:
# the total number of reviews for unpaid
total_unpaid_df = unpaid_df['review_id'].count()
total_unpaid_df

39915

In [121]:
# the number of paid 5-star reviews 
paid_5_star = len(paid_df[(paid_df['star_rating'] == 5)])
paid_5_star

48

In [123]:
# the number of unpaid 5-star reviews
unpaid_5_star = len(unpaid_df[(unpaid_df['star_rating'] == 5)])
unpaid_5_star

15556

In [129]:
#  the percentage of paid 5-star reviews
percent_paid = paid_5_star / total_paid_df * 100
percent_paid

51.06382978723404

In [131]:
#  the percentage of unpaid 5-star reviews
percent_unpaid = unpaid_5_star / total_unpaid_df * 100
percent_unpaid

38.97281723662783